// Responsive
.grid {
    width: 768px;
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-5 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.wrapper {
    margin: 20px 0 20px 52px;
}

.header {
    position: relative;
    margin-bottom: 20px;
}

.user-info {
    display: flex;
    align-items: center;

}

.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    cursor: pointer;
}

.info {
    margin-left: 20px;
}

.nickname {
    display: flex;
    align-items: center;
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 4px;
    cursor: pointer;
}

.tick {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    color: rgb(32, 213, 236);
}

.name {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
    cursor: pointer;
}

.follow-btn {
    padding: 9px 72px;
}

.message-btn-wrapper {
    display: flex;
}

.message-btn {
    padding: 9px 44px;
}

.unfollow-btn {
    margin-left: 8px;
    width: 37px;
    height: 37px;

    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    background-color: transparent;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.unfollow-icon {
    width: 20px;
    height: 20px;
    padding: 0;
}

.count-info-wrapper {
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.count-info {
    margin-right: 20px;
}

.count-number {
    font-size: 1.8rem;
}

.count-unit {
    margin-left: 6px;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
}

.bio {
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.shared-link {
    padding: 0;
    font-size: 1.6rem;
}

.shared-link-icon {
    margin-right: 2px;
    width: 18px;
    height: 18px;
}

// Header Btn
.header-btn-wrapper {
    position: absolute;
    top: 11px;
    right: 52px;
    display: flex;
}

.header-btn {
    width: 24px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}

.header-btn-icon {
    font-size: 2.4rem;
}

// Body
// Video tab
.video-feed-tab {
    position: relative;
    display: flex;
    border-bottom: 1px solid #e0e0e0;

    
}

.video-feed-tab-btn +
.video-feed-tab-btn {
    margin-left: 0;
}

.video-feed-tab-btn {
    padding: 0 32px;
    font-size: 1.8rem;
    line-height: 4.4rem;

    &.disable {
        opacity: 0.5;
    }

    &:nth-child(1).active ~ .video-feed-tab-line {
        left: 0;
        width: 122px;
        transform: translateX(0);
        transition: transform 0.3s ease;
    }

    &:nth-child(2).active ~ .video-feed-tab-line {
        left: 124px;
        width: 136px;
        transform: translateX(0);
        transition: transform 0.3s ease;
    }

    &:nth-child(1):hover ~ .video-feed-tab-line {
        width: 122px;
        transform: translateX(-124px);
        transition: transform 0.3s ease;
    }

    &:nth-child(2):hover ~ .video-feed-tab-line {
        width: 136px;
        transform: translateX(124px);
        transition: transform 0.3s ease;
    }
    
    &:nth-child(1).active:hover ~ .video-feed-tab-line {
        width: 122px;
        transform: translateX(0);
        transition: transform;
    }

    &:nth-child(2).active:hover ~ .video-feed-tab-line {
        width: 136px;
        transform: translateX(0);
        transition: transform;
    }

    &:nth-child(1).active {
        pointer-events: none;
    }

    &:nth-child(2).active {
        pointer-events: none;
    }
}

.disable-icon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.video-feed-tab-line {
    position: absolute;
    top: calc(100% - 0.5px);
    content: '';
    display: block;
    width: 122px;
    height: 2px;
    background-color: var(--text-color);
}

// Video
.video-list {
    display: none;
    padding-top: 8px;

    &.active {
        display: flex;
    }
}

.video-item {
    position: relative;
    height: 226px;
    cursor: pointer;
}

.video,
.video-thumb {
    position: absolute;
    width: 100%;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
    display: none;
    
    &.active {
        display: flex;
    }
}

.video-info {
    position: absolute;
    bottom: 40px;
    left: 12px;
}

.video-icon {
    width: 18px;
    height: 18px;
    color: var(--white);
}

.video-view {
    margin-left: 2px;
    font-size: 16px;
    color: var(--white);
}


.video-description {
    position: absolute;
    bottom: 0;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.2rem;
    height: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}