.wrapper {
    margin-left: 52px;
    margin-bottom: 20px;
}

.video-wrapper {
    border-top: 1px solid #e3e3e4;
    padding-bottom: 18px;
}

// Video container
.container {
    display: flex;
    margin-top: 20px;
}

// Video header
.user-link {
    width: 56px;
    height: 56px;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    margin-left: 12px;
    width: 624px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
}

.nickname {
    font-size: 1.8rem;
    line-height: 2.4rem;

    &:hover {
        text-decoration: underline;
    }
}

.tick {
    margin-left: 4px;
}

.name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.description {
    margin-top: 8px;
}

.music {
    margin-top: 12px;
}

.follow-btn {
    height: 28px;
}

// Video body
.body {
    margin-top: 16px;
    display: flex;
    align-items: flex-end;
}

.video {
    width: var(--video-width);
    height: var(--video-height);
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;

    // control btn
    &:hover ~ .control-btn:not(:hover) {
        animation: 
            fadeIn 0.3s ease-in-out,
            appear 0.3s 0.3s ease-in-out infinite;
    }

    &:not(:hover) ~ .control-btn:not(:hover) {
        animation: 
            fadeOut 0.3s ease-in-out, 
            disappear 0.3s 0.3s ease-in-out infinite;
    }

    &:not(:hover) ~ .control-btn:has(~ .volume-wrapper:hover) {
        animation: appear 0.3s infinite;
    }

    // volume btn
    &:hover ~ .volume-wrapper:not(:hover) {
        animation: 
            fadeIn 0.3s ease-in-out,
            appear 0.3s 0.3s ease-in-out infinite;
    }

    &:not(:hover) ~ .volume-wrapper:not(:hover) {
        animation: 
            fadeOut 0.3s ease-in-out, 
            disappear 0.3s 0.3s ease-in-out infinite;
    }
}

// Control : play + pause
.control-btn {
    position: absolute;
    margin: 0 0 26px 16px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    
    &:hover {
        animation: appear 0.3s infinite;
    }

    &:hover ~ .volume-wrapper:not(:hover) {
        animation: appear 0.3s infinite;
    }
}

.control-icon {
    width: 20px;
    height: 20px;
    color: var(--white);
}

// Volume
.volume-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: calc(var(--video-width) - 40px - 16px);
    margin-bottom: 26px;
    width: 40px;
    
    &:hover {
        animation: appear 0.3s infinite;
    }
}

.volume-range-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 64px;
    background: rgba(22, 24, 35, 0.34);
    border-radius: 32px;
    cursor: pointer;

    &:has(~ .volume-btn:hover) {
        display: flex;
    }

    &:hover {
        display: flex;
    }
}

.volume-range {
    width: 48px;
    height: 2px;
    rotate: -90deg;
    -webkit-appearance: none;
    appearance: none;
    background-image: linear-gradient(var(--white), var(--white));
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 4px;
    cursor: pointer;
    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        background-color: var(--white);
        border-radius: 50%;
        cursor: pointer;
    }
}

.volume-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
}

.volume-icon {
    width: 20px;
    height: 20px;
    color: var(--white);
}

// Animation
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes disappear {
    from { opacity: 0; }
    to { opacity: 0; }
}

@keyframes appear {
    from { opacity: 1; }
    to { opacity: 1; }
}

// Video action
.action-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    width: 48px;
    height: 78px;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    width: 24px;
    height: 24px;
}

.like-btn {
    &.active svg {
        color: var(--primary);
        animation: glowUp 0.8s ease-out;
    }
}

@keyframes glowUp {
    0% { scale: 0; }
    40% { scale: 1.2; }
    60% { scale: 0.8; }
    100% { scale: 1;}
}

.collect-btn {
    &.active svg {
        color: #face15;
        animation: sizeUp 0.8s ease-out;
    }
}

@keyframes sizeUp {
    0% { height: 2.4rem; }
    50% { height: 1.6rem; }
    100% { height: 2.4rem;}
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #f1f1f2;
    border-radius: 50%;
    color: var(--black);
}

.action-number {
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
}
