// Video container
.container {
    display: flex;
    margin-top: 20px;
    & ~ .container {
        border-top: 1px solid #e3e3e4;
        padding-top: 18px;
    }
}

// Video header
.user-link {
    width: 56px;
    height: 56px;
}

.avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    margin-left: 12px;
    width: 624px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.user-info {
    display: flex;
    align-items: center;
}

.nickname {
    font-size: 1.8rem;
    line-height: 2.4rem;

    &:hover {
        text-decoration: underline;
    }
}

.tick {
    margin-left: 4px;
}

.name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.description {
    margin-top: 8px;
}

.music {
    margin-top: 12px;
}

.follow-btn {
    height: 28px;
}

// Video body
.body {
    margin-top: 16px;
    display: flex;
    align-items: flex-end;
}

.video {
    width: 302px;
    height: 540px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

// Video action
.action-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    width: 48px;
    height: 78px;
    background-color: transparent;
    cursor: pointer;
}

.like-btn {
    &.active .icon-wrapper {
        color: var(--primary);
    }

    &.active .icon {
        animation: glowUp 0.8s ease-out;
    }
}

@keyframes glowUp {
    0% { scale: 0; }
    40% { scale: 1.2; }
    60% { scale: 0.8; }
    100% { scale: 1;}
}

.collect-btn {
    &.active .icon-wrapper {
        color: #face15;
    }

    &.active .icon {
        animation: glowUp 0.8s ease-out;
    }
}

// @keyframes sizeUp {
//     0% { height: 2.4rem; }
//     50% { height: 1.6rem }
//     100% { height: 2.4rem;}
// }

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #f1f1f2;
    border-radius: 50%;
    color: var(--black);
}

.action-number {
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
}